In [2]:
import pandas as pd 

employees={
    "name":["Saurabh","Randeep","Shreya","Provat"],
    "salary":[56000,80000,45000,24000],
    "address":["Seawoods,Mumbai,India","Dandum,Kochi,US","Some,Kolkata,Greece","Hooghly,Kolkata,India"]
}

employees

{'name': ['Saurabh', 'Randeep', 'Shreya', 'Provat'],
 'salary': [56000, 80000, 45000, 24000],
 'address': ['Seawoods,Mumbai,India',
  'Dandum,Kochi,US',
  'Some,Kolkata,Greece',
  'Hooghly,Kolkata,India']}

In [3]:
df=pd.DataFrame(employees)
df

      name  salary                address
0  Saurabh   56000  Seawoods,Mumbai,India
1  Randeep   80000        Dandum,Kochi,US
2   Shreya   45000    Some,Kolkata,Greece
3   Provat   24000  Hooghly,Kolkata,India

In [4]:
def calculateTax(salary):
    if salary>70000:
        return (10/100)*salary
    elif salary>50000:
        return (8/100)*salary
    elif salary>30000:
        return (2/100)*salary
    
    return 0

df['tax']=df['salary'].apply(calculateTax)
df

      name  salary                address     tax
0  Saurabh   56000  Seawoods,Mumbai,India  4480.0
1  Randeep   80000        Dandum,Kochi,US  8000.0
2   Shreya   45000    Some,Kolkata,Greece   900.0
3   Provat   24000  Hooghly,Kolkata,India     0.0

In [11]:
df['city']=df['address'].apply(lambda ad:ad.split(",")[1])
df['country']=df['address'].apply(lambda ad:ad.split(",")[2])
# df.drop(labels="address",axis=1)
df

KeyError: 'address'